---
## Małe zadanie domowe

Poczytać o funkcji [pandas.pivot_table](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html) i przeanalizować jej działanie w podanych przykładach. 

Następnie, dla danych podanych poniżej w ramce df_employees, za pomocą funkcji pivot_table utworzyć podsumowująca ramkę danych, której indeks będzie składał się z poszczególnych rodzajów zatrudnienia, tj. unikatowych wartości kolumny 'Type', a poszczególne kolumny będą zawierały sumę zarobków, wartość średnią zarobków i liczbę pracowników odzielnie dla każdego z wydzia
łów, tj. dla każdej z unikatowych wartości w kolumnie 'Department'.

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in ./.local/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# Przyda się nam też NumPy, więc od razu i tę biblotekę zaimportujemy
import numpy as np

/tmp/ipykernel_89869/3997675023.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:

df_employees = pd.DataFrame({'First Name': ['Tom', 'Adam', 'Jane', 'Alice', 'Robert', 'Bob', 'John', 'Frank', 'Eva',
                                            'John', 'Lois'],
                   'Last Name': ['Brown', 'Green', 'Thompson', 'Smith', 'Newman', 'Parker', 'Williams', 'Taylor', 'Evans',
                                 'Lewis', 'White'],
                   'Type': ['Full-time Employee', 'Intern', 'Full-time Employee', 'Part-time Employee', 
                            'Full-time Employee', 'Intern', 'Intern', 'Part-time Employee', 'Part-time Employee',
                            'Full-time Employee', 'Part-time Employee'],
                   'Department': ['Administration', 'Technical', 'Administration', 'Technical', 'Management',
                                  'Administration', 'Management', 'Administration', 'Management', 'Technical',
                                  'Management'],
                   'YearsOfExperience': [4, 3, 5, 7, 6, 1, 2, 2, 4, 5, 2],
                   'Salary': [15000, 6000, 9000, 10000, 20000, 3000, 4000, 6000, 12000, 8000, 5500]})

df_employees
pt = pd.pivot_table(df_employees, index='Type', values='Salary', columns='Department',
                       aggfunc= ["sum", "mean", "count"])
pt

                              sum                                mean  \
Department         Administration Management Technical Administration
Type
Full-time Employee          24000      20000      8000        12000.0
Intern                       3000       4000      6000         3000.0
Part-time Employee           6000      17500     10000         6000.0

                                                 count
Department         Management Technical Administration Management Technical
Type
Full-time Employee    20000.0    8000.0              2          1         1
Intern                 4000.0    6000.0              1          1         1
Part-time Employee     8750.0   10000.0              1          2         1